.header {
    background: #FFF;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: transform $transition;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
    }

    .logo {
        margin-right: $padding;

        img {
            width: auto;
            height: 48px;
        }
    }

    &__phone {
        font-size: 1.6rem;
        letter-spacing: 0.03rem;
        position: relative;
        margin-left: $padding * 2;

        &__icon {
            margin-right: $padding * .5;
        }

        &__link {
            display: flex;
            align-items: center;
            height: $header-height;
        }

        &__value {
            font-size: 1.9rem;
            letter-spacing: 0;
            font-weight: bold;
        }
    }

    &:not(.sidebar) {
        @include media-max($show-menu) {
            .menu__toggler {
                display: block;
            }

            .container {
                padding-left: 0;
            }

            .logo {
                margin: 0 auto;
            }

            .menu {
                display: none;
            }

            .header__phone {
                display: none;
            }

            .language {
                display: none;
            }
        }
    }

    &.sidebar {
        display: none;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, .2);
        max-width: 270px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transition: none;
        will-change: transform;
        z-index: 11;

        @include media-max($show-menu) {
            display: block;
        }

        .container {
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            min-width: 0;
            overflow-y: auto;
        }

        .logo {
            margin: $padding auto;
        }

        .menu {
            padding: $padding;
            flex-direction: column;
            margin: 0;
            width: 100%;
        }

        .language {
            margin: $padding 0 0 $padding;
        }

        .header__phone {
            width: 100%;
            margin: auto 0 0 0;
            padding: 0;

            &__link {
                padding: 0 $padding * 2;
            }
        }

        .sidebar__close {
            position: absolute;
            top: 10px;
            right: 0;
            padding: $padding;
            display: block;
        }
    }
}

.logo {
    &__img {
        display: block;
        font-size: 1.2rem;
        width: auto;
        height: 48px;
    }
}
