$primary-color: #1672EC;
$accent-color: #E5533F;

$primary-bg-color: #c6ddfa;

$border-color: #DDD;

$font-color: #000;
$font-color-secondary: #818181;
$hover-color: $primary-color;

$backface-color: #f8f7fd;

$success-color: #0ab354;
$success-bg-color: #f5fef9;
$error-color: #E5533F;
$warning-color: #faa40f;
$warning-bg-color: #ffecca;

$price-color: #E5533F;
$old-price-color: #383838;
